<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/events.xsd">
    <system>
        <tab id="Amasty_SecondSnitkoArtur" translate="label" sortOrder="10">
            <label>Snitko Artur's second module</label>
        </tab>

        <section id="artur_second_module_config" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Snitko Artur's second module config</label>
            <tab>Amasty_SecondSnitkoArtur</tab>
            <resource>Amasty_SecondSnitkoArtur::config</resource>
            <group id="general" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="promo_sku" type="textarea" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Promo SKU</label>
                    <validate>required-entry</validate>
                </field>
                <field id="for_sku" type="textarea" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>For SKU</label>
                    <validate>required-entry</validate>
                </field>
            </group>
        </section>
    </system>
</config>
