<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <default>
        <artur_second_module_config>
            <general>
                <promo_sku>Promo</promo_sku>
                <for_sku>24-MB01, 24-MB02, 24-MB03</for_sku>
            </general>
        </artur_second_module_config>
    </default>
</config>
